.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(105, 7, 7);
  color: white;
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bolder;
}

span {
  position: absolute;
  left: 16px;
  white-space: nowrap;
}

.search-container {
  flex: 0 0 auto;
  width: 40%;
  height: 80%;
  padding-top: 20px;
}

.search-container input {
  padding: 10px 30px 10px 10px; 
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border 0.3s;
}

.suggestions {
  top: 100%;
  left: 0;
  right: 0;
  max-height: 150px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.suggestion-items {
  padding: 8px 16px;
  cursor: pointer;
}

.suggestion-items:hover {
  background-color: #eee;
}